/**
* Buttons
*/

@mixin button( $size, $background_color, $border_color, $text_color ) {
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  background: $background_color;
  border: 2px solid $border_color;
  color: $text_color;
  line-height: inherit;
  display: inline-block;
  padding: 20px 35px;
  width: auto;
  line-height: 1rem;

  // sizes
  @if( $size == 'large' ) {
    padding: 25px 70px;

    @media ( max-width: $screen-xs ){
      width: 100%;
    }
  }
}

.button, button, input[type="button"], input[type="submit"] {
  @include button( '', $tertiary, $tertiary, $secondary );

  &.large {
    @include button( 'large', $tertiary, $tertiary, $secondary );
  }

  &.transparent {
    @include button( '', transparent, $primary, $primary );
  }

  &.white {
    @include button( '', $white, $white, $secondary );
    color: $primary;
  }

  &:hover {
    cursor: pointer;
  }
}
