/**
* Cards
*/

.card {
  position: relative;
  display: flex;
  height: 100%;

  .card-inner {
    flex: 0 0 calc(100% - #{$gutter-card-inner * 2});
    border: 2px solid $tertiary;
    padding: 2.1875rem;
  }

  ul {
    margin: 0;
    display: block;
    width: 100%;
    margin-left: 15px;
  }

  img {
    display: inline-block;
    max-width: 115px;
    margin-bottom: 25px;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $primary;
    font-size: 1rem;
    margin-bottom: 25px;
  }
}
