/**
* Header default styles
*/

header {
  background: $white;
  color: $primary;
  padding: 30px 0px;
  width: 100%;
  display: block;
  text-align:center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.25);

  @media ( max-width: $menu-breakpoint ) {
    padding: $section_padding_mobile;
    text-align:left;
  }

  .logo {
    display: inline-block;
    max-width: 200px;
    margin: 5px 15px;
    position: absolute;
    left: 15px;
    top: 15px;

    @media ( max-width: $menu-breakpoint ) {
      margin: 0px 15px;
      position: relative;
      top: 0;
      left: 0;
    }

    img {
      max-height: 50px;
      width: auto;
      @media ( max-width: $menu-breakpoint ) {
        max-height: 30px;
      }
    }

  }

  nav {
    display: inline-block;

    @media ( max-width: $menu-breakpoint ) {
      display: none;
      height: 100vh;
      padding: 15px 0px;
    }

    ul {
      li {
        display: inline-block;

        @media ( max-width: $menu-breakpoint ) {
          display: block;
          text-align:center;
          width: 100%;
        }

        a {
          display: block;
          color: $tertiary;
          display: block;
          padding: 20px 30px;

          @media ( max-width: $menu-breakpoint ) {
            padding: 15px;
          }
        }

        &.current_page_item {
          a {
            color: $color-link-active;
          }
        }
      }
    }
  }

  .menu-toggle {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 50px;
    display: none;

    @media ( max-width: $menu-breakpoint ) {
      display: block;
    }

    .icon-bar {
      display: block;
      width: 100%;
      background: $primary;
      height: 3px;
      margin-bottom: 5px;
    }
  }
}

// home nav overrides
.home {
  header {
    background: transparent;
    color: $white;
    top: 0;
    position: absolute;
    z-index:99;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;

    nav {
      ul {
        li {
          &.current_page_item {
            a {
              color: $color-link-active;
            }
          }

          a {
            color: $white;
          }
        }
      }
    }
  }
}
