// colours
$primary: #41434c;
$secondary: #edeff0;
$tertiary: #999e8f;
$tertiary-light: #9ea395;
$white: #fff;
$brown: #6a6e6d;
$color-heading: $tertiary;
$color-text: $primary;
$color-link: #777;
$color-link-active: #41434c;
$color-placeholder: $primary;
$color-error: red;

// fonts
$font: 'Avenir Book';
$font-italic: 'Avenir Book';
$font-bold: 'Avenir Medium';
$font-headings: 'Avenir Roman';

// sections
$section_padding_desktop: 80px 0px;
$section_padding_single_desktop: 80px;
$section_padding_mobile: 40px 0px;
$section_padding_single_mobile: 40px;

// breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 900px;
$screen-lg: 1100px;
$menu-breakpoint: $screen-md;

// grid & gutters
$grid-gutter-width: 15px;
$form-field-gutter: 7.5px 0px;
$gutter-gallery-thumbs: 5px;
$gutter-card-inner: 35px;

// logos & icons
$logo_path: '../../images/logo.svg';

// forms
$textarea_height: 170px;
$textarea_height_mobile: 120px;
