/**
* Floor plan specific styles
*/

// floor plan nav
.floor-plan-nav {
  nav {
    color: $primary;

    ul {
      li {
        &:after {
          content : '/';
          display: inline-block;
          padding: 0px 5px;
        }

        &:last-child {
          &:after {
            content: '';
          }
        }

        a {
          padding: 15px 20px;
          display:inline-block;
        }

        &.active {
          a {
            text-decoration: underline;
            font-family: 'Avenir Medium';
          }
        }
      }
    }
  }
}

// floor plan files
.floor-plan-wrap {
  .floor-plan-content {
    .button {
      margin-top: 25px;
    }
  }
}
